// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// // Include functions first
// @import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0;
$success: #7952b3;
$primary: #CBAA6D;

$font-family-base: 'playfair-display', serif;
$line-height-base: 2.4;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$display-line-height: 1;

@import "bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'Molde Condensed';
  src: local('Molde Condensed Bold'), local('Molde-Condensed-Bold'),
      url('/fonts/Molde-Condensed-Bold.woff2') format('woff2'),
      url('/fonts/Molde-Condensed-Bold.woff') format('woff'),
      url('/fonts/Molde-Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


h1, h2, h3, h4, .h1, .h2, .h3, .h4, .card-title, .btn:not(.btn-link) {
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.filmTitle {
  font-family: 'Molde Condensed', "josefin-sans", sans-serif;
}

.btn:not(.btn-link) {
  letter-spacing: 1px;
}

.main-film > section {
  padding: 10rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ABABAB;
  background-image: url("/img/ring.png");
  background-repeat: no-repeat;
  background-position: center 5rem;
}

.bg-black {
  background-color: #000;
}

.bg-gray {
  background-color: #111111;
}

.text-off-white,
.card.border-light.bg-transparent {
  color: #ABABAB;
}

.film-poster {
  height: 75vh;
}

.iframe-container {
  aspect-ratio: 16/9;
}

.main-film > section.film-poster {
  padding: 0;
}

.background-player {
  width: 100%;
  height: 100%;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    video {
      object-fit: cover;
    }
  }
}
